.main__nav {
  width: 244px;
  background-color: #181818;
  padding: 20px 0 20px 36px;
  transition: 300ms;
}

.nav__logo {
  width: 113.33px;
  height: 43px;
  padding: 13px 0 13px 0;
  background-color: transparent;
  margin-bottom: 20px;
}

.nav__burger {
  width: 20px;
  height: 36px;
  padding: 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.nav__menu {
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 1000;
}

.logo__image {
  width: 113.33px;
  height: 17px;
  color: #181818;
}

.burger__line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
  transition: 300ms;
}
.burger__lineDark {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #000000;
  transition: 300ms;
}

.menu__list {
  padding: 18px 0 10px 0;
}

.menu__item {
  padding: 5px 0;
  margin-bottom: 16px;
  cursor: pointer;
}

.menu__link {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  transition: 300ms;
}

.burger__active .burger__line:nth-child(2) {
  opacity: 0;
}
.burger__active .burger__line:nth-child(1) {
  transform: translateY(4px) rotate(45deg); /* Спустилась в центр и повернулась */
}
.burger__active .burger__line:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg); /* Поднялась в центр и повернулась */
}

.burger__active .burger__lineDark:nth-child(2) {
  opacity: 0;
}
.burger__active .burger__lineDark:nth-child(1) {
  transform: translateY(4px) rotate(45deg); /* Спустилась в центр и повернулась */
}
.burger__active .burger__lineDark:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg); /* Поднялась в центр и повернулась */
}

.menu__open {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
.menu__link:hover {
  color: #007bff;
}
.Themeimg__svg{
  cursor: pointer;
  width: 40px;
  height: 39px;
}
.Themeimg__svg:active {
  transform: scale(0.9);
}

